<!-- sign up form -->

<%- include("partials/header.ejs") %>

<form action="/register" method="post">
  <div>
    <div>User Name</div>
    <input type="text" name="Name" />
  </div>

  <div>
    <div>Password</div>
    <input type="password" name="Pw" />
  </div>
  <button type="submit">Sign Up</button>
</form>

<%- include("partials/footer.ejs") %>
